table {
  border: 1px solid black;
  border-width: 1px 0 0 1px;
  border-spacing: 0;
}
th, td {
  text-align: right;
  vertical-align: top;
              padding: 4px;
              border: 1px solid blue;
              border-width: 0 1px 1px 0;
}
tr th:first-child + th + th,
tr td:first-child + td + td {
  text-align: left;
}

th {
  background-color: #ddffff;
}

.Racket {
  background-color: #ffffdd;
  font-weight: bold;
}

.notracket {
background: none;
            text-align: left;
  font-size: 80%;
  max-width: 15em;
}

.linkdot {
background: none;
            text-align: center;
  font-size: 80%;
  max-width: 20em;
}

.p0 {
  font-weight: bold;
  color: red;
  border-color: red;
}

.p1 {
  font-weight: bold;
  color: orange;
  border-color: orange;
}

.p2 {
  font-weight: bold;
  color: black;
  background-color: yellow;
  border-color: yellow;
}

.p3 {
  font-weight: bold;
  color: red;
}

.p4 {
  font-weight: bold;
  color: orange;
}

.p0 :link {
  color: red;
}

.p1 :link {
  color: orange;
}

.p2 :link {
  color: yellow;
}

.p3 :link {
  color: red;
}

.p4 :link {
  color: orange;
}

.p0 :visited {
  color: #aa0000;
}

.p1 :visited {
  color: #aa8800;
}

.p2 :visited {
  color: #aaaa00;
}

.p3 :visited {
  color: #aa0000;
}

.p4 :visited {
  color: #aa8800;
}
